<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <inventorysync>
            <general>
                <enable_sync>1</enable_sync>
                <api_url>https://dummyjson.com/products</api_url>
                <cron_schedule>0 0 * * *</cron_schedule>
            </general>
        </inventorysync>
    </default>
</config>
