<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="popoyan-inventory-sync:execute" xsi:type="object">
                    Popoyan\InventorySync\Console\ExecuteProductSyncCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
